.filmitem__link {}

.filmitem {
  border: $border-width solid fade-out($colors__green, 1%);

  &:hover,
  &:focus {
    color: $colors__green;
    border: $border-width solid $colors__green;
  }
}

.filmitem__title {
  background-color: #ffffff;

  h3 {
    color: #000;
  }
}

.filmitem__ul {
  li {
    color: #99a9be;
  }
}

.filmitem__rating {
  color: $colors__white;
  background-color: $colors__green;

  &.green {
    background-color: $colors__green;
  }

  &.yellow {
    background-color: $colors__yellow;
  }

  &.red {
    background-color: $colors__red;
  }

  &.gray {
    background-color: $colors__grays;
  }
}

.filmitem__menu-button {
  color: #000;
  background: #fff;

  &:hover,
  &:focus,
  &:active {
    background: rgba(255, 255, 255, 0.685);
  }
}